body {
  background-color: #fff5d7;
  display: flex;
  justify-content: center;
}

h1 {
  color: #ff5e6c;
  text-align: center;
}

h2  {
  color: #ff5e6c;
  text-align: center;
}

p {
  color: #ff5e6c;
  text-align: center;
}



#center-page {
  position: absolute;

}

#product-Container {
  display: flex;
  justify-content: space-around;
  padding: 30px;

}

img {
  border: 5px solid #ff5e6c;
  width: 300px;
  height: 300px;
  margin: 20px;


}

#show-results-button {
  display: flex;
  justify-content: center;
  background-color: #ff5e6c;
  color:whitesmoke;
  text-align:center;
  padding: 20px;
  display:block;
  transition: 500ms;
  font-size: 16px;
  margin: 10px;
  cursor:pointer;
  width: 10%;
}
  
#show-results-button:hover {
  background-color: aquamarine;
}
